{% extends 'main/base.html' %}
{% block title %}Flightdog{% endblock %}
{% block content %}
<h1>Welcome to Flightdog - free source of airspace information!</h1>
 <p>The current database represents sets of aircraft states updated in real-time mode. You may either see
 the entire world aircraft database, or apply filtering parameters to see only aircraft that matches selected criteria:
 min/max altitude, geo area, current status, etc.
 Note: we provide services to registered users only.</p>

{% endblock %}