{% extends 'main/base.html' %}
{% block title %}Flightdog{% endblock %}
{% block content %}

 <form action="/index/" method="POST">
	{% csrf_token %}
	{% if user.is_authenticated %}	
		{{ filter_form.as_table }}
		<input type="submit" formmethod = "POST" value="Apply filter">
		{% if states %}
			<ul>
			{% for state in states %}
				<li><a href = "/main/{{ state.id }}/">{{ state.icao24 }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No states are available.</p>
		{% endif %}
	{% endif %}

	
</form>
 
{% endblock %}


<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Flightdog - free air traffic data source</title>
 </head>
 <canvas id="myCanvas" width="1200" height="100" style="border:1px solid #000000;"></canvas>
 <body>
	<h1>Welcome to Flightdog - free source of airspace information</h1>
	
</body>
</html>

	<p>{{ ip }}</p>
	<p>{{ user }}</p>	
