{% extends 'main/base.html' %}
{% block title %}Flightdog{% endblock %}
{% block content %}

 <form action="/stat/" method="POST">
	<h1>Airspace statistics</h1>
	{% csrf_token %}
	{{ filter_form.as_table }}
	{% if user.is_authenticated %}	
		<input type="submit" formmethod = "POST" value="Apply filter">
		<h1>-------------------------------------------------------------------------</h1>
		<h1>Date range</h1>
		{{ stat_fields_form.as_table }}
		<h1>-------------------------------------------------------------------------</h1>
		
		<select name="select_stat_option">
			<option value="average_cong_by_alt" selected="selected">Average airspace congestion by altitude</option>
			<option value="average_cong_by_dt">Average airspace congestion by daytime</option>
			<option value="average_vel_by_alt">Average airplane velocity by altitude</option>
			<option value="average_vertrate_by_alt">Average vertical rate by altitude</option>
			<option value="countries_airborn_ratio">Different countries airfleet airborn ratio </option>
		</select>
		
		<input type="submit" formmethod = "POST" value="Calculate">

		<p>{{ chart_data }}</p>
		<p>{{ base64 }}</p>
		<p>{{ stat_data }}</p>
		<p>{{ chart_data }}</p>
		<p>{{ par }}</p>
		<p>{{ vert_rate_lst }}</p>		

		<p>{{ data }}</p>
		
		<img src = "data:image/png;base64,{{ data }}" alt = "Airspace data chart" height = "700", width = "1000" >
		
		{% if states %}
			<ul>
			{% for state in states %}
				<li><a href = "/main/{{ state.id }}/">{{ state.icao24 }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No states are available.</p>
		{% endif %}
	{% endif %}
	
</form>
 
 
 
 

{% endblock %}


<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Flightdog - free air traffic data source</title>
 </head>
 <canvas id="myCanvas" width="1200" height="100" style="border:1px solid #000000;"></canvas>
 <body>
	<h1>Airspace statistics</h1>
</body>
</html>

	<p>{{ ip }}</p>
	<p>{{ user }}</p>	
